@font-face {
	font-family: 'Digital-7';
	src: url(../fonts/digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background: #f7f7f7;
}

.workform {
  width: 720px;
  margin: 20px auto;
  label {margin-right: 10px}
  .marginbot5 {margin-bottom: 5px}
  .margintop10 {margin: 10px 0 5px}
}

.info {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.butbox {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.buttons {
  padding: 10px 15px;
  border: silver solid 1px;
  &:hover {cursor: pointer;}
}

#pause {
  margin-left: 10px;
  width: 106px;
  display: none;
}

#continue {
 margin-left: 10px;
 width: 106px;
 display: none;
}

#reload {
 margin-left: 10px;
 display: none;
}

#timerbox {
  width: 720px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 20px 0;
  font-family: 'Digital-7', sans-serif;
  font-size: 48px;
  background: #dcdcdc;
   box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  #timer{
    margin-left: 10px;
    margin-top: 8px;
  }
  #type{margin-right: 10px;}
}
